<html>
  <body>
    <h1>Dashboard</h1>
    
    <p>TODO: Find some hip Javascript library that will display this
      information as a bunch of pretty graphs on a wall display like
      at a real startup.</p>
    
    <table>
      <tr>
	<td></td>
	<td>24 hours</td>
	<td>7 days</td>
	<td>30 days</td>
	<td>6 months</td>
	<td>1 year</td>
      </tr>
      <tr>
	<td>Profiles created</td>
      </tr>
      <tr>
	<td>Profiles active</td>
      </tr>
      <tr>
	<td>Profiles with searches</td>
      </tr>
      <tr>
	<td>Searches created</td>	
      </tr>
      <tr>
	<td>Searches active</td>
      </tr>
      <tr>
	<td>Matches</td>
      </tr>
    </table>
  </body>
</html>
