<html>
  <body>
    <h1>Speedycrew API v1 test page</h1>

    <p>All requests can take an optional parameter request_id, which will appear in the response.</p>

    <h2>Device IDs</h2>

    <p>We will use device IDs based on client certificates.  But for
    now, a request parameter x-id can be used.  Using a new device ID
    automatically creates a new profile (with no name etc).</p>

    <p>In all cases GET and POST are interchangeable.  GET is shown
    here due to laziness but devices should probably POST.</p>

    <h2>Synchronisation</h2>
    <p>The synchronisation mechanism is based on feeding
    server-generated SQL directly to a local Sqlite3 database, using
    the schema from <code>client/db/create.sql</code>.  (Soon the
    schema will be auto-magically recreated by the server, watch this
    space...)</p>
    <ol>
      <li><a href="synchronise?x-id=1234;timeline=0;sequence=0">/api/1/synchronise?x=1234;timeline=0;sequence=0</a>
      where the <code>timeline</code> and <code>sequence</code>
      parameters are optional, and should be loaded from the Sqlite
      table 'control' if it contains a row (it should contain one row
      if it's every been synchronised successfully, and no rows if it
      is a newly created schema); this returns a JSON document
      containing a top level dictionary with the following members:
	<ul>
	  <li><code>{ "operation" : "refresh" }</code> if the server
	  has determined that it needs to send a complete data
	  transfusion, deleting and reinserting all replicated state
	  (because the sequence number is too old for an incremental
	  update, or the timeline number has changed due to a major
	  data loss event on the server); or <code>{ "operation" :
	  "incremental" }</code> if it is possible to send a series of
	  changes</li>
	  <li><code>metadata</code> is a list of dictionaries like these:
	    <ol>
	      <li><code>{ "INSERT" :  "uri" }</code> -- to indicate that the object identified by <i>uri</i> has been inserted</li>
	      <li><code>{ "UPDATE" :  "uri" }</code> -- ... updated</li>
	      <li><code>{ "DELETE" : "uri" }</code> -- ... deleted</li>
	      <li><code>{ "more" : true }</code> -- an incremental
		synchronisation hit the configured maximum size, and
		the client should rince and repeat to see if more
		changes are available</li>
	    </ol>
	  </li>
	  <li><code>{ "sql" : [ "INSERT ..." ... ] }</code> contains a
	  list of SQL statements to be executed, as one transaction,
	  by the client.</li>
	</ul>
	The URIs used
	in <code>INSERT</code>, <code>UPDATE</code>, <code>DELETE</code>
	instructions are as follows:
	<ul>
	  <li><code>match/12345678-1234-1234-1234-123456789012</code>
	  -- a match (this is actually the ID of the search on the
	  other side, but in the client database it is the primary key
	  for a match record; it is a UUID in 8-4-4-4-12 format)</li>
	  <li><code>search/12345678-1234-1234-1234-123456789012</code>
	  -- a search belonging to the user</li>
	</ul>
      </li>
      <li><a href="set_notification?x-id=1234;google_registration_id=1234">/api/1/set_notification?x-id=1234;google_registration_id=1234</a> to set the Google magic token for the calling device</li>
      <li><a href="set_notification?x-id=1234;apple_device_token=1234">/api/1/set_notification?x-id=1234;apple_device_token=1234</a> to set the Google magic token for the calling device</li>
      <li><a href="set_notification?x-id=1234">/api/1/set_notification?x-id=1234</a> to disable notifications for the calling device</li>
    </ol>

    <h2>Profile management</h2>
    <ol>
      <li><a href="profile?x-id=1234">/api/1/profile?x-id=1234</a> to retrieve profile data</li>
      <li><a href="update_profile?x-id=1234&real_name=Joe+Bloggs&message=I+can+cook&email=foo@bar">/api/1/update_profile?x-id=1234</a> with optional parameters real_name, message, email to update profile data (use empty string as value to clear the values)</li>
      <li>TODO: merging two profiles (ie merging separate devices)</li>
      <li>TODO: deleting profile</li>
    </ol>

    <h2>Search management</h2>
    <ol>
      <li><a href="searches?x-id=1234">/api/1/searches?x-id=1234</a> to list all active searches for this profile</li>
      <li><a href="create_search?x-id=1234&id=12345678-1234-1234-1234-123456789012&side=SEEK&query=I+am+a+%23chef&longitude=-0.15&latitude=51.5&radius=5000">/api/1/create_search?x-id=1234&amp;side=PROVIDE&amp;query=I+am+a+%23chef&amp;longitude=-0.15&amp;latitude=51.5&amp;radius=5000</a> with optional extra parameters city, country, address, postcode (radius is required for side=SEEK, absent for side=PROVIDE) (note: id is new, and is a UUID in 8-4-4-4-12 format; if you miss it out, one will be made up automatically for a limited time only)</li>
      <li><a href="search_results?x-id=1234&search=12345678-1234-1234-1234-123456789012">/api/1/search_results?x-id=1234&amp;search=12345678-1234-1234-1234-123456789012</a> to fetch results for one search [DEPRECATED -- will be deleted soon]</li>
      <li><a href="delete_search?x-id=1234&search=12345678-1234-1234-1234-123456789012">/api/1/delete_search?x-id=1234&amp;search=12345678-1234-1234-1234-123456789012</a></li>
      <li>TODO: no tracking/filtering of available dates yet (searches match based on location + tags only for now)</li>
    </ol>

    <h2>Messaging</h2>
    <ol>
      <li><a href="create_crew?x-id=1234;id=12345678-1234-1234-1234-123456789012;name=Fred;fingerprints=">create_crew</a></li>
    </ol>

    <h2>Media management</h2>
    <ol>
      <li><a href="media/1234?x-id=1234">/api/1/media/1234?x-id=1234</a> to list all media files available for the profile in the URL (ie the part before ?, the part after is just the caller's identity when not using SSL cert identification, and happens to be the same here for simplicity)</li>
      <li><a href="media/1234/test?x-id=1234">/api/1/media/1234/test?x-id=1234</a> to GET file 'test' belonging to profile fingerprint 1234</li>
      <li><code>curl --upload-file foo.jpg -u captain:cook https://dev.speedycrew.com/api/1/media/1234/foo?x-id=1234</code> to PUT a new media file</li>
      <li><code>curl -X DELETE -u captain:cook https://dev.speedycrew.com/api/1/media/1234/foo?x-id=1234</code> to DELETE a new media file</li>
    </ol>

    <h2>Miscellaneous</h2>
    <ol>
      <li><a href="tags?x-id=1234&prefix=s">/api/1/tags?x-id=1234&amp;prefix=s</a> to fetch tags with a certain prefix, for auto-complete (?!)</li>
      <li><a href="trending?x-id=1234">/api/1/trending?x-id=1234</a> to get some trending tags</li>
    </ol>
  </body>
</html>

