Source: speedy-notifier
Maintainer: Thomas Munro <munro@ip9.org>

Package: speedy-notifier
Architecture: all
Section: unknown
Priority: extra
Depends: python, python-psycopg2, adduser
Description: Speedycrew notifier daemon
 Daemon for tickling iOS and Android phones when synchronisation is required.
