body {
  font-family: sans-serif;
}
div.outer {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
div.input {
    font-size: large;
    top: 0px;
    left: 0px;
    right: 0px;
}
div.head {
    float: left;
    width: 100%;
}
input.search {
    font-size: large;
    width: 100%;
    border: solid 1px red;
}
div.selection {
    margin: 10px;
    display: none;
}
input.send {
    float: right;
}
input.cancel {
    float: right;
}
input.none {
    display: none;
}
form.invisible {
    dispaly: none;
}
a.sector {
    white-space: nowrap;
    background: lightgreen;
    border-radius: 16px;
    border-size: 6px;
    border-left-width: 16px;
    border-right-width: 16px;
    border-style: solid;
    border-color: lightgreen;
    margin-right: 1em;
    foreground: green;
}
div.searches {
    left: 0em;
    right: 0em;
    height: 100%;
    overflow: scroll;
    border: solid 0.1px;
}
div.search {
    margin: 2px;
    border-radius: 16px;
    border-size: 4px;
    border-left-width: 16px;
    border-right-width: 16px;
    border: solid 4px green;
}
div.searchHead {
}
div.searchEmpty {
    width: 100%;
    height: 4px;
}
div.searchText {
    left: 0px;
}
input.open {
    float: left;
    foreground: red;
}
input.closed {
    float: left;
    foreground: red;
}
input.map {
    float: right;
    foreground: red;
}
div.open {
}
div.closed {
    display:none;
}
