<html>
  <body>
    <h1>Speedycrew API v1 test page</h1>

    <h2>Device IDs</h2>

    <p>We will use device IDs based on client certificates.  But for
    now, a request parameter x-id can be used.  Using a new device ID
    automatically creates a new profile (with no name etc).</p>

    <p>In all cases GET and POST are interchangeable.  GET is shown
    here due to laziness but devices should probably POST.</p>

    <h2>Profile management</h2>
    <ol>
      <li><a href="profile?x-id=1234">/api/1/profile?x-id=1234</a> to retrieve profile data</li>
      <li><a href="update_profile?x-id=1234&real_name=Joe+Bloggs&message=I+can+cook&email=foo@bar">/api/1/update_profile?x-id=1234</a> with optional parameters real_name, message, email to update profile data</li>
      <li>TODO: merging two profiles (ie merging separate devices)</li>
      <li>TODO: deleting profile</li>
    </ol>

    <h2>Search management</h2>
    <ol>
      <li><a href="searches?x-id=1234">/api/1/searches?x-id=1234</a> to list all active searches for this profile</li>
      <li><a href="create_search?x-id=1234&side=PROVIDE&tags=sushi-chef,slice,dice&longitude=-0.15&latitude=51.5&radius=5000">/api/1/create_search?x-id=1234&amp;side=PROVIDE&amp;tags=sushi-chef,slice,dice&amp;longitude=-0.15&amp;latitude=51.5&amp;radius=5000</a> with optional extra parameters city, country, address, postcode (radius is required for side=PROVIDE, should not be present for side=SEEK for now, to discuss)</li>
      <li><a href="search_results?x-id=1234&search=1">/api/1/search_results?x-id=1234&amp;search=1</a> to fetch results for one search</li>
      <li><a href="delete_search?x-id=1234&search=1">/api/1/delete_search?x-id=1234&amp;search=1</a></li>
      <li>TODO: incremental search results (with high water sequence number retained by devices)</li>
      <li>TODO: no tracking/filtering of available dates yet (searches match based on location + tags only for now)</li>
    </ol>

    <h2>Miscellaneous</h2>
    <ol>
      <li><a href="tags?x-id=1234&prefix=s">/api/1/tags?x-id=1234&amp;prefix=s</a> to fetch tags with a certain prefix, for auto-complete (?!)</li>
    </ol>
  </body>
</html>

